@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: white;
  color: #1c1c1c;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 36px;
  border-radius: 6px;
  color: rgb(13, 46, 89);
  border: 1px solid #0077b6;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.button:active {
  transform: translateY(2px);
}

.button:hover {
  background-color: #0077b6;
  color: white;
}

.primary {
  background-color: #0077b6;
  color: white;
}

a:hover {
  color: #1890ff;
}

.button-ghost {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 36px;
  width: 130px;
  border-radius: 6px;
  color: white;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.button-ghost:hover {
  border: 1px solid rgb(224, 224, 224);
  color: rgb(13, 46, 89);
}

.status-box {
  border-radius: 12px;
  background-color: #ccffbd;
  color: #1c1c1c;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  min-width: 144px;
  max-width: 200px;
  align-items: center;
}
